<h1>ALL CAVE MANS</h1>

<% @users.all.each do |user| %>
  <ul>
    <li><%= link_to user.name, user_path(user) %>       <%= link_to edit_user_path(user) do %>
        <span class="glyphicon glyphicon-edit orange"></span>
      <% end %>
    </li>
  </ul>
<% end %>
