<% if object.errors.any? %>

  <% content_for(:title, "YOU WRONG!!!!") %>
  <div class="text-center">

  <h3>YOU MAKE PROBLEM</h3>
  <!-- <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul> -->
  </div>
<% end %>
